name: Publish to PyPI and TestPyPI

on:
  pull_request:
    branches:
      - release
  push:
    branches:
      - release

jobs:
  build-and-publish:
    name: Build and publish to PyPI and TestPyPI
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@v1

      - name: Install dependencies
        run: uv pip install --system hatch

      - name: Build with Hatch
        run: hatch build

      - name: Publish to TestPyPI
        if: github.event_name == 'pull_request'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          skip-existing: false
          user: __token__
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}

      - name: Publish to PyPI
        if: github.event_name == 'push' && github.ref == 'refs/heads/release'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }} 